#layoutSidenav {
  display: flex;
  #layoutSidenav_nav {
    flex-basis: 265px;
    flex-shrink: 0;
    transition: transform 0.15s ease-in-out;
    transform: translateX(-265px);
    z-index: 1038;
    @media (min-width: 992px) {
      transform: translateX(0);
    }
  }
  #layoutSidenav_content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
    flex-grow: 1;
    min-height: calc(100vh - 56px);
    margin-left: -265px;
    @media (min-width: 992px) {
      margin-left: 0;
      transition: margin 0.15s ease-in-out;
    }
  }
}

.sb-sidenav-toggled {
  .sb-topnav {
    @media (min-width: 992px) {
      margin-left: -265px;
    }
  }
  #layoutSidenav {
    #layoutSidenav_nav {
      transform: translateX(0);
      @media (min-width: 992px) {
        transform: translateX(-265px);
      }
    }
    #layoutSidenav_content {
      @media (min-width: 992px) {
        margin-left: -265px;
      }
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        z-index: 1037;
        opacity: 0.5;
        transition: opacity 0.3s ease-in-out;
        @media (min-width: 992px) {
          display: none;
        }
      }
    }
  }
}

.sb-nav-fixed {
  .sb-topnav {
    z-index: 1039;
  }
  #layoutSidenav {
    #layoutSidenav_nav {
      width: 265px;
      height: 100vh;
      z-index: 1038;

      .sb-sidenav {
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        height: 100%;
        flex-wrap: nowrap;

        .sb-sidenav-menu {
          flex-grow: 1;
          overflow: auto;
          
          .nav {
            flex-direction: column;
            flex-wrap: nowrap;
            margin: 4px;

            .sb-sidenav-menu-heading {
              padding: 1.75rem 1rem 0.75rem;
              font-size: 0.75rem;
              font-weight: bold;
              text-transform: uppercase;
            }
            .nav-item {
              margin-bottom: 1rem;
              .nav-link {
                text-align: center;
                background: #fff;
                color: $theme-dark;
                display: block;
                font-weight: 600;
                border: 2px solid $theme-green;
                border-radius: 0.45rem;
                padding: 0.75rem 1.8rem;
                text-transform: capitalize;

                &.active,
                &:hover {
                  background: $theme-green;
                  border: 2px solid $theme-green;
                  color: $theme-dark;
                }
              }
            }
          }
        }
        .sb-sidenav-footer {
          padding: 0.75rem;
          flex-shrink: 0;
          .logout-btn {
            margin: 6px;
            text-align: center;
            background: #f8f9fa;
            color: $theme-dark;
            display: block;
            font-weight: 600;
            border: 2px solid $theme-green;
            border-radius: 0.45rem;
            padding: 0.85rem 1.8rem;
            text-transform: capitalize;

            &.active {
              background: $theme-green;
              border: 1px solid $theme-green;
              color: $theme-dark;
            }
          }
        }

        .sb-sidenav-menu {
          overflow-y: auto;
        }
      }
    }
    #layoutSidenav_content {
      padding-left: 265px;
      top: 75px;
    }
  }
}

.sb-topnav {
  padding-left: 0;
  z-index: 1040;
  @media (min-width: 992px) {
    margin-left: 0;
    transition: margin 0.15s ease-in-out;
  }
  .navbar-brand {
    width: 265px;
    height: 75px;
  }
}

.fixed-top,
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav,
.sb-nav-fixed .sb-topnav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  // z-index: 1030;
}
